<main id="main-container">
    <div class="content">
        <div class="row">

                <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                    <a class="block block-rounded block-link-pop border-left border-primary border-4x" href="javascript:void(0)">
                        <div class="block-content block-content-full">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-primary font-size-sm text-left">当前版本：{{config "String" "system_versions" ""}}</div>
                                </div>
                                <div class="col-6">
                                    <div class="text-danger font-size-sm text-right">最新版本：{{$.vers.vers.versStr}}</div>
                                </div>
                            </div>
                            <div class="font-size-sm text-muted pt-2 pb-2" style="line-height: 25px;">
                                {{$.vers.vers.description}}
                                {{if .vers.vers.context }}
                                    <span data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title="<div class='font-size-sm'> {{$.vers.vers.context}}</div>" class="js-tooltip text-primary">&nbsp;&nbsp;<i class="far fa-1x fa-bell"></i></span>
                                {{end}}
                            </div>
                            <div class="text-center pt-2" style="border-top: 1px dashed #ddd">
                                {{if $.vers.isVers }}
                                    <button data-download="{{$.vers.vers.os_path}}" data-vers="{{$.vers.vers.versStr}}" data-update="{{urlfor "Admin.Update"}}" type="button" class="btn btn-alt-primary font-size-sm update-btn" style="margin-left: -10px">确定更新</button>
                                {{else}}
                                    <button type="button" disabled class="btn btn-alt-secondary font-size-sm " style="margin-left: -10px">无需更新</button>
                                {{end}}
                            </div>
                        </div>
                    </a>
                </div>
            <div class="col-6 col-md-3 col-lg-6 col-xl-3">
                测试更新
            </div>
        </div>
    </div>
</main>