<script src="/static/admin/plugins/wizard/bs4/jquery.bootstrap.wizard.min.js"></script>
<script src="/static/admin/pages/arachnid_index.js?v={{$.versions}}"></script>
<script>
    $(document).ready(function() {
        $('.js-wizard-simple').bootstrapWizard({
            nextSelector: '[data-wizard="next"]',
            previousSelector: '[data-wizard="prev"]',
            finishSelector: '[data-wizard="finish"]',
            onTabShow: (tab, nav, index) => {
                let percent = ((index + 1) / nav.find('li').length) * 100;
                let progress = nav.parents('.block').find('[data-wizard="progress"] > .progress-bar');
                if (progress.length) {
                    progress.css({width: percent + 1 + '%'});
                }
            }
        });
    })
</script>
<style>
    .form-group-prefix{border: 1px dashed #ddd;position: relative}
    @media (min-width: 576px){
        .item_prefix{-ms-flex: 0 0 45.7%;flex: 0 0 45.7%;max-width: 45.7%;}
        .item_prefix:nth-child(2n){margin-left: 17px;}
    }
    #domain{height: 250px;overflow-x: hidden;overflow-y: scroll;}
    #domain_row{margin: 6px 0 0 6px;}
    .prefix_delete {position: absolute;border-radius: 50%;cursor: pointer;top: -7px;left: -7px;width: 20px;height: 20px;line-height: 20px;text-align: center;color: #fff;font-size: 19px;z-index: 999;}
</style>